@import "reset";

.contact {
  max-width: 500px;
  margin: 5rem auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px 25px -5px rgba(143, 142, 142, 0.75);
  -webkit-box-shadow: 10px 10px 25px -5px rgba(143, 142, 142, 0.75);
  -moz-box-shadow: 10px 10px 25px -5px rgba(143, 142, 142, 0.75);

  &__title {
    padding: 2rem 0;
    color: white;
    text-align: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    button {
      width: 20%;
    }
  }
  &__input {
    width: 40%;
  }
  &__btn {
    display: inline-block;
    background-color: #a5a5a5b2;
    border: 1px solid #a5a5a5b2;
    color: white;
  }
  .search {
    width: 100%;
  }
  &__list {
    height: 350px;
    margin: 1rem 0 2rem;
    overflow-y: scroll;
  }
  &__item {
    padding: 1rem;
    border-bottom: 1px solid #dadbdf;
    display: flex;
    flex-wrap: wrap;
    &:last-child {
      border-bottom: none;
    }
    .item-info {
      width: 60%;
    }
    .item-btns {
      width: 40%;
      display: flex;
      button {
        flex: 1;
      }
    }
  }
}

// mobile
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
